		.sidebar {
			width:18%;
			display: inline-block;
			margin-left: 10%;
			background: #40514E;
			color: #E4F9F5;
		}
		.marginTop{
			margin-top: 10px;
			margin-bottom: 10px;
		}



		.k-switch-on .k-switch-container {
    color: white;
    background-color: #11999e;
		}

		.k-switch-off .k-switch-container {
		color: white;
		background-color: black;
		}

		.maxWidth{
			width: 100%;
		}

		.marginBtn{
			margin-top: 10px;
			margin-bottom: 10px;
			margin-right: 10px;
			margin-left: 10px;
		}



		.sidebar-top { position: relative; }

		.profile-basic {
			position: absolute;
			bottom: 0px;
			left: 50px;
		}

		.profile-info {
			padding: 20px 10px;
			border-bottom: 1px solid #30E3CA;
			padding-top: 3px;
			padding-bottom: 3px;
		}

		 .profile-info p{
			display: inline-block;
			vertical-align: top;
		}

		.profile-info .key{
			font-size: 15px;
			font-weight: bold;
		}

		.content {
			width: 30%;
			margin-left: 2%;
			display: inline-block;
			vertical-align: top;
		}
		.content2 {
			width: 40%;
			margin-left: 7%;
			display: inline-block;
			vertical-align: top;
		}
		.content2a {
			width: 40%;
			margin-left: 5%;
			display: inline-block;
			vertical-align: top;
		}
		.content3 {
			width: 85%;
			margin-left: 7%;
			display: inline-block;
			vertical-align: top;
		}

		.direccion, .contacto {
			margin-bottom: 30px;
			padding: 2% 2% 5% 2%;
			background: #40514E;
      color: #E4F9F5;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		}

		.info {
			padding: 2% 1%;
			border-bottom: 1px solid #30E3CA;
		}


		.sub-heading {
      font-weight: bold;
    }
    .heading{
      color: #E4F9F5;
			text-align: center;
    }

		.duration {
			color: #E4F9F5;
			font-size:15px;
		}
    #page {

      width: 75%;
      margin: 0 auto;
      min-height: 100vh;
      background-color: #E4F9F5;
    }

   #tabs {
     padding-top: 40px;
   }

   .c-tabs-nav {
     list-style: none;
     padding: 0;
     position: relative;
     margin-bottom: 10px;
   }

   .c-tabs-nav__link {
     text-decoration: none;
     color: #40514E;
     margin-right: 25px;
     padding: 20px 25px;
     font-weight: bold;
   }
   .c-tabs-nav__link:hover{
     text-decoration: none;
     color: #11999e;
   }

   .c-tabs-nav__link.is-active {
     opacity: 1;
     color: #11999e;
   }

   .c-tab {
     display: none;
     border-top: 1px solid rgba(255,255,255,0.5);
   }

   .c-tab.is-active {
     display: block;
   }

   .c-tab__content {
     padding: 20px;
     position: relative;
     animation: showTab 300ms ease-in-out both;
   }

   @keyframes showTab{
     from {opacity: 0; top: 5px}
     to {opacity: 1; top: 0;}
   }

   .c-tab-nav-marker {
     min-height: 4px;
     background-color: #40514E;
     position: absolute;
     bottom: -10px;

     transition: all 0.5s ease-out;
   }



.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

* html .ui-autocomplete {
	height: 100px;
}
.leftMargin{
	margin-left: 32px;
}
