

label {
    width: 100%;
    padding-top: 10px;
}
.panel-body{

  background-color: #40514e;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.card-input-element {
    display: none;

}

.card-input {
    padding: 00px;

}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 3px 3px #11999e;
     border-radius: 5px;
 }

 .marginBtn{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 10px;
   margin-left: 10px;
 }

 .marginTop{
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .btn-primary{
 	background-color: #11999e;
 	border: #30e3ca;
 }
 .btn-primary:hover{
 	background-color: #30e3ca;
 }

 .hidden { display: none; }
 /*Loader*/
 .loader,
 .loader:before,
 .loader:after {
   background: #40514e;
   -webkit-animation: load1 1s infinite ease-in-out;
   animation: load1 1s infinite ease-in-out;
   width: 1em;
   height: 4em;
 }
 .loader {
   color: #40514e;
   text-indent: -9999em;
   margin: 88px auto;
   position: relative;
   font-size: 11px;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-animation-delay: -0.16s;
   animation-delay: -0.16s;
 }
 .loader:before,
 .loader:after {
   position: absolute;
   top: 0;
   content: '';
 }
 .loader:before {
   left: -1.5em;
   -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
 }
 .loader:after {
   left: 1.5em;
 }
 @-webkit-keyframes load1 {
   0%,
   80%,
   100% {
     box-shadow: 0 0;
     height: 4em;
   }
   40% {
     box-shadow: 0 -2em;
     height: 5em;
   }
 }
 @keyframes load1 {
   0%,
   80%,
   100% {
     box-shadow: 0 0;
     height: 4em;
   }
   40% {
     box-shadow: 0 -2em;
     height: 5em;
   }
 }

 .btn-primary{
 	background-color: #11999e;
 	border: #30e3ca;
 }
 .btn-primary:hover{
 	background-color: #30e3ca;
 }
