

label {
    width: 100%;
    padding-top: 10px;
}
.panel-body{

  background-color: #40514e;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.card-input-element {
    display: none;

}

.card-input {
    padding: 00px;

}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 3px 3px #11999e;
     border-radius: 5px;
 }

 .marginBtn{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 10px;
   margin-left: 10px;
 }

 .marginTop{
   margin-top: 10px;
   margin-bottom: 10px;
 }
